name: Formatting

on: [push]

jobs:
  format:
    name: black
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check files using the black formatter
        uses: rickstaa/action-black@v1
        id: action_black
        with:
          black_args: "."

      - name: Commit changes
        if: steps.action_black.outputs.is_formatted == 'true'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "black formatter"
          commit_options: "--no-verify --signoff"
          skip_checkout: true
          disable_globbing: true